@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
}
a:hover {
    text-decoration: none;
}

.bg-light{
    background-color: #f8f9fa !important;
}

#headingg{
    font-size: 40px;
}

/* Media query for mobile screens */
@media only screen and (max-width: 768px) {
    #headingg {
        font-size: 25px; /* Font size for mobile screens */
    }
}