@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");


*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}



video{
  margin: 20px auto;
  display: block;
  border-radius: 20px;
}

.video-sec{
  padding-top: 70px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-sb {
  justify-content: space-between;
}

.buttons{
  width: 70%;
  margin: 20px auto;
}

.play_store {
  height: 118px;
  width: 300px;
  margin: 20px auto;
}

.app_store {
  height: 80px;
  width: 270px;
  margin: 20px auto;

}