@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");


*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}



video{
  margin: 20px auto;
  display: block;
  border-radius: 20px;
  padding-top: 70px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-sb {
  justify-content: space-between;
}

.btn {
  display: inline-block;
  background: linear-gradient(
    93.23deg,
    var(--primary-1) 0%,
    var(--primary-2) 100%
  );
  padding: 14px 26px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--white);
  font-size: 1.6rem;
  border: 1px solid #000;
  margin: 0 10px;
}

.buttons{
  width: 70%;
  margin: 20px auto;
}